<!DOCTYPE html>
<html ng-app="app" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Angular JS</title>

	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

	<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>


	<link href="content/styles/reset.css" rel="stylesheet" />
	<link href="content/styles/style.css" rel="stylesheet" />

	<script src="scripts/jquery-1.9.1.min.js"></script>
	<!--<script src="scripts/dlg.js"></script>-->
	<!--angular-->
	<script src="scripts/angular.min.js"></script>
	<script src="scripts/angular-route.min.js"></script>

	<!--app-->
	<script src="app/app.js"></script>

	<!-- factories -->
	<script src="app/services/build-category-factory.js"></script>
	<script src="app/services/build-news-factory.js"></script>

	<!--services-->
	<script src="app/services/categories-service.js"></script>
	<script src="app/services/news-service.js"></script>
	<script src="app/services/categories-edit-service.js"></script>
	<script src="app/services/search-service.js"></script>

	<!--filters-->
	<script src="app/filters/news-preview-text.js"></script>
	<script src="app/filters/news-of-category.js"></script>
	<script src="app/filters/categories-news.js"></script>

	<!--directives-->
	<script src="app/directives/news-preview.js"></script>
	<script src="app/directives/file.js"></script>

	<!--controllers-->
	<script src="app/controllers/categories.js"></script>
	<script src="app/controllers/news-category.js"></script>
	<script src="app/controllers/news.js"></script>
	<script src="app/controllers/edit-categories.js"></script>
	<script src="app/controllers/create-news.js"></script>
	<script src="app/controllers/news-search.js"></script>
	<script src="app/controllers/search-result.js"></script>

</head>
<body>

	<div class="container">

		<div class="header">
			<div class="logo-container">
				<a class="logo" href="#/">World News</a>
			</div>
			<div ng-controller="NewsSearchController as ctrlSearch" class="search-container">
				<div class="search-group">
					<div class="tb-search-container">
						<input type="text" ng-model="ctrlSearch.searchInfo.text" class="tb-search" placeholder="Search" />
					</div>
					<div class="btn-search-container">
						<button ng-click="ctrlSearch.search()" class="btn-search"><span class="icon icon-search"></span></button>
					</div>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="left-bar">
			</div>
			<div class="center-bar">

				<ng-view></ng-view>

			</div>
			<div class="right-bar">

			</div>
		</div>

	</div>
</body>
</html>
