<!DOCTYPE html>
<html ng-app="app" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Angular JS</title>
	<link href="content/styles/reset.css" rel="stylesheet" />
	<link href="content/styles/bootstrap.css" rel="stylesheet" />
	<link href="content/styles/templates.css" rel="stylesheet" />
	<link href="content/styles/style.css" rel="stylesheet" />

	<script src="scripts/jquery-1.9.1.min.js"></script>
	<!--<script src="scripts/dlg.js"></script>-->

	<!--angular-->
	<script src="scripts/angular.min.js"></script>
	<script src="scripts/angular-route.min.js"></script>

	<!--app-->
	<script src="app/app.js"></script>

	<!--models-->
	<script src="app/models/Category.js"></script>
	<script src="app/models/New.js"></script>

	<!--services-->
	<script src="app/services/category.js"></script>
	<script src="app/services/news.js"></script>

	<!--filters-->
	<script src="app/filters/new-preview.js"></script>
	<script src="app/filters/news-of-category.js"></script>

	<!--directives-->
	<script src="app/directives/new-preview.js"></script>

	<!--controllers-->
	<script src="app/controllers/news-category.js"></script>
	<script src="app/controllers/news-all.js"></script>
	<script src="app/controllers/new.js"></script>
	<script src="app/controllers/edit-category.js"></script>

</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top head">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand logo" href="#/">Новости</a>
			</div>
			<div class="navbar-right navbar-form search">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Поиск" />
					<span class="input-group-btn">
						<button class="btn btn-default">Найти</button>
					</span>
				</div>
			</div>
		</div>
	</nav>
	<br />
	<div class="container">
		<div class="jumbotron">

			<div ng-controller="CategoryController as ctrlCategory" class="content">

				<div class="category-container">
					<div class="panel-group category-panel">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3>Категории</h3>
							</div>
							<div class="panel-body">
								<div class="category-list">
									<ul>
										<li ng-repeat="category in ctrlCategory.categories" class="category-item">
											<a href="#/" ng-click="ctrlCategory.selectCategory(category)">{{category.name}}</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="panel-heading">
								<a href="#/edit" class="btn btn-default">Редактировать</a>
							</div>
						</div>
					</div>
				</div>

				<div class="news-container">
					<div class="panel-group category-panel">
						<div class="panel panel-default">
							<div class="panel-heading">
								<p ng-bind="ctrlCategory.current.name" class="news-head"></p>
								<a href="#" class="btn btn-default btn-new-add">Добавить</a>
							</div>
							<div class="panel-body">

								<ng-view></ng-view>

							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>



	<!--<ul>
		<li ng-repeat="item in main.items" ng-click="main.removeFromStock(item, $index)">
			{{ item.name }}
			<button ng-click="main.removeFromStock">{{$index}}</button>
		</li>
	</ul>-->
	<!--<div class="row">

		<div class="col-4 col-sm-4 new-container">
			<div class="new-head-container">
				<a href="#">@заголовок@</a>
			</div>
			<div class="new-img-container">
				<img src="Koala.jpg" class="new-img" alt="#"/>
			</div>
			<div class="new-description-container">
				<p>@Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.@</p>
			</div>
			<div class="new-foot">
				<div class="new-category-container">
					<a href="#">@категория@</a>
				</div>
				<div class="new-date-container">
					<span class="new-date">12.03.2015</span>
				</div>
			</div>
		</div>

	</div>-->






</body>
</html>
