.new-container {
	padding: 10px;
	margin: 10px;
	background-color: #F5F5F5;
}

.new-head-container {
	padding: 10px;
	font-size: 16px;
	text-indent: 30px;
	text-align: justify;
}

.new-head {
	text-indent: 40px;
}

.new-preview-img {
	width: 200px;
	height: 150px;
	float: left;
	margin-right: 10px;
}

.new-img {
	width: 100%;
	height: 400px;
	float: left;
	margin-bottom: 10px;
}

.preview-new-body {
	text-indent: 30px;
	text-align: justify;
	font-size: 16px;
}

.new-foot {
	display: table;
	width: 100%;
}


.new-date-container {
	display: table-cell;
	text-align: right;
	font-size: 16px;
}

.new-date {
	font-weight: bold;
}
