<h4>Редактирование категорий</h4>
<div ng-repeat="category in ctrl.categories" class="category-edit-form">
	<div class="row-ctegory-edit">
		<input type="text" ng-model="category.name" class="tb-category input-sm">
		<button ng-click="ctrl.removeCategory(category)" class="btn btn-default">Удалить</button>
	</div>
</div>
<div class="row-ctegory-edit">
	<input type="text" ng-model="ctrl.categoryName" class="tb-category input-sm" placeholder="Новая категория">
	<button ng-click="ctrl.addCategory()" class="btn btn-default">Добавить</button>
</div>
<div class="row-ctegory-edit">
	<button ng-click="ctrl.save()" class="btn btn-default">Сохранить</button>
	<button ng-click="ctrl.reset()" class="btn btn-default">Сбросить</button>
</div>