<div class="caption-cotainer">
	<div class="caption">
		<p ng-bind="ctrl.category.name" class="caption-text"></p>
	</div>
	<div class="btn-head-container">
		<a href="#/" class="btn-head">Categories</a>
		<a href="#/create/{{ctrl.category.id}}" class="btn-head">Add</a>
		<a href="#/category/{{ctrl.category.id}}" class="btn-head">Back</a>
	</div>
</div>

<div class="body-container">
	<div class="news-body">
	
		<div class="news-head-container">
			<p ng-bind="ctrl.newsInfo.head" class="news-head"></p>
		</div>
		<img ng-src="{{ctrl.newsInfo.imgUrl}}" class="news-img" alt="news image" />
		<p ng-bind="ctrl.newsInfo.body" class="news-text"></p>
		<div class="news-date-container">
			<span ng-bind="ctrl.newsInfo.date" class="news-date"></span>
		</div>
	</div>
</div>