<div class="new-container">
	<div class="new-head-container">
		<a href="#/news/{{newInfo.id}}" ng-bind="newInfo.head"></a>
	</div>
	<div class="new-img-container">
		<a href="#/news/{{newInfo.id}}"><img ng-src="{{newInfo.imgUrl}}" class="new-preview-img img-rounded" alt="#" /></a>
	</div>
	<div class="preview-new-container">
		<p ng-bind="newInfo.body | previewNew" class="preview-new-body"></p>
	</div>
	<div class="new-foot">
		<a href="#/news/{{newInfo.id}}" class="btn btn-default">Читать дальше</a>
		<div class="new-date-container">
			<span ng-bind="newInfo.date" class="new-date"></span>
		</div>
	</div>
</div>